In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../../data/temporary_protection_beneficiaries_monthly.csv')

In [10]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,citizen,Country of citizenship,sex,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:MIGR_ASYTPSM(1.0),Beneficiaries of temporary protection at the e...,M,Monthly,PER,Person,UA,Ukraine,T,...,AT,Austria,2022-07,NaN,73785.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:MIGR_ASYTPSM(1.0),Beneficiaries of temporary protection at the e...,M,Monthly,PER,Person,UA,Ukraine,T,...,AT,Austria,2022-08,NaN,76920.0,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:MIGR_ASYTPSM(1.0),Beneficiaries of temporary protection at the e...,M,Monthly,PER,Person,UA,Ukraine,T,...,AT,Austria,2022-09,NaN,79735.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:MIGR_ASYTPSM(1.0),Beneficiaries of temporary protection at the e...,M,Monthly,PER,Person,UA,Ukraine,T,...,AT,Austria,2022-10,NaN,82310.0,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:MIGR_ASYTPSM(1.0),Beneficiaries of temporary protection at the e...,M,Monthly,PER,Person,UA,Ukraine,T,...,AT,Austria,2022-11,NaN,84380.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               1136 non-null   object
 1   STRUCTURE_ID                            1136 non-null   object
 2   STRUCTURE_NAME                          1136 non-null   object
 3   freq                                    1136 non-null   object
 4   Time frequency                          1136 non-null   object
 5   unit                                    1136 non-null   object
 6   Unit of measure                         1136 non-null   object
 7   citizen                                 1136 non-null   object
 8   Country of citizenship                  1136 non-null   object
 9   sex                                     1136 non-null   object
 10  Sex                                     1136 non-null   object
 11  age                                     1136 non-null   object
 12  Age class                               1136 non-null   object
 13  geo                                     1136 non-null   object
 14  Geopolitical entity (reporting)         1136 non-null   object
 15  TIME_PERIOD                             1136 non-null   object
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               1131 non-null   float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                216 non-null    object
 20  Observation status (Flag) V2 structure  216 non-null    object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), object(18)
memory usage: 204.3+ KB

In [12]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD"]]
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "month"
})

In [13]:
df.head()

  Country of citizenship      geo  OBS_VALUE    month
0                Ukraine  Austria    73785.0  2022-07
1                Ukraine  Austria    76920.0  2022-08
2                Ukraine  Austria    79735.0  2022-09
3                Ukraine  Austria    82310.0  2022-10
4                Ukraine  Austria    84380.0  2022-11

In [15]:
df.dropna(inplace=True)

In [17]:
df.to_csv("../../processed_data/ukraine_temporary_protection.csv", index=False)