In [1]:
import pandas as pd

**Unemployment rates by citizenship and sex**

---

Unemployment rate (Eurostat) is calculated according to the International Labour Organization (ILO) definition as:

Unemployment rate = (Number of unemployed people / Labour force )× 100 %

Unemployed people: Those who are not working, actively seeking work in the last 4 weeks, and available to start within 2 weeks.

Labour force: Sum of employed and unemployed people.

In [18]:
df = pd.read_csv('../../data/unemployment_rates_by_sex_and_citizenship.csv')

In [19]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998-Q1,NaN,8.9,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999-Q1,NaN,9.2,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q1,NaN,9.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q2,NaN,5.7,NaN,u,low reliability,NaN,NaN
4,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2001-Q1,NaN,7.9,NaN,NaN,NaN,NaN,NaN

In [20]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [21]:
df.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex
0,Foreign country,Austria,8.9,1998-Q1,Females
1,Foreign country,Austria,9.2,1999-Q1,Females
2,Foreign country,Austria,9.0,2000-Q1,Females
3,Foreign country,Austria,5.7,2000-Q2,Females
4,Foreign country,Austria,7.9,2001-Q1,Females

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28473 entries, 0 to 28472
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country of citizenship           28473 non-null  object
 1   Geopolitical entity (reporting)  28473 non-null  object
 2   OBS_VALUE                        25355 non-null  float64
 3   TIME_PERIOD                      28473 non-null  object
 4   Sex                              28473 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.1+ MB

In [23]:
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "unemployment_rate", 
    "Country of citizenship": "citizenship"
})

In [25]:
def quarter_to_datetime(q):
    year, qtr = q[:4], q[-1]
    month = {'1': '01', '2': '04', '3': '07', '4': '10'}.get(qtr, '01')
    return pd.to_datetime(f"{year}-{month}-01")

df['date'] = df['quarter'].apply(quarter_to_datetime)

df = df.sort_values(by=['geo', 'citizenship', 'Sex', 'date'])
df['unemployment_rate'] = df.groupby(['geo', 'citizenship', 'Sex'])['unemployment_rate']\
                                 .transform(lambda group: group.interpolate(method='linear'))

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28473 entries, 0 to 28472
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   citizenship        28473 non-null  object
 1   geo                28473 non-null  object
 2   unemployment_rate  26096 non-null  float64
 3   quarter            28473 non-null  object
 4   Sex                28473 non-null  object
 5   date               28473 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.5+ MB

In [27]:
df.dropna(inplace=True)

In [28]:
df.to_csv("../../processed_data/unemploymnet_rates.csv", index=False)

**Unemployment rates by citizenship and sex**

---

Yearly

In [2]:
an_df = pd.read_csv("../../data/unemployment_rates_yearly.csv")

In [3]:
an_df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSA_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1995,NaN,7.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSA_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1996,NaN,9.4,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSA_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1997,NaN,9.4,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSA_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998,NaN,8.9,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSA_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999,NaN,9.2,NaN,NaN,NaN,NaN,NaN

In [4]:
an_df = an_df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [5]:
an_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7983 entries, 0 to 7982
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country of citizenship           7983 non-null   object
 1   Geopolitical entity (reporting)  7983 non-null   object
 2   OBS_VALUE                        7253 non-null   float64
 3   TIME_PERIOD                      7983 non-null   int64
 4   Sex                              7983 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 312.0+ KB

In [6]:
an_df = an_df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "year",
    "OBS_VALUE": "employment_rate", 
    "Country of citizenship": "citizenship"
})

In [9]:
an_df[(an_df['Sex'] == 'Total') & an_df['employment_rate'].isna()]

            citizenship                     geo  employment_rate  year    Sex
5352    Foreign country  Bosnia and Herzegovina              NaN  2021  Total
5353    Foreign country  Bosnia and Herzegovina              NaN  2022  Total
5354    Foreign country  Bosnia and Herzegovina              NaN  2023  Total
5355    Foreign country  Bosnia and Herzegovina              NaN  2024  Total
5386    Foreign country                Bulgaria              NaN  2001  Total
...                 ...                     ...              ...   ...    ...
6151    Foreign country                Slovakia              NaN  2022  Total
6152    Foreign country                Slovakia              NaN  2023  Total
6153    Foreign country                Slovakia              NaN  2024  Total
6296  Reporting country                  Cyprus              NaN  1999  Total
7154              Total                  Cyprus              NaN  1999  Total

[198 rows x 5 columns]

In [ ]:
selected_countries = ["Poland", "Bulgaria", "Romania", "Hungary", "France", "Italy", "Germany", "Sweden", "Spain"]
temp = an_df[(an_df['geo'].isin(selected_countries)) & (an_df['year'] >= 2005)]

In [12]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Bulgaria')]

          citizenship       geo  employment_rate  year      Sex
68    Foreign country  Bulgaria              NaN  2005  Females
69    Foreign country  Bulgaria              NaN  2006  Females
70    Foreign country  Bulgaria              NaN  2007  Females
71    Foreign country  Bulgaria              NaN  2008  Females
72    Foreign country  Bulgaria              NaN  2009  Females
73    Foreign country  Bulgaria              NaN  2010  Females
74    Foreign country  Bulgaria              NaN  2011  Females
75    Foreign country  Bulgaria              NaN  2012  Females
76    Foreign country  Bulgaria              NaN  2013  Females
77    Foreign country  Bulgaria              NaN  2014  Females
78    Foreign country  Bulgaria              NaN  2015  Females
79    Foreign country  Bulgaria              NaN  2016  Females
80    Foreign country  Bulgaria              NaN  2017  Females
81    Foreign country  Bulgaria              NaN  2018  Females
82    Foreign country  Bulgaria              NaN  2019  Females
83    Foreign country  Bulgaria              NaN  2020  Females
84    Foreign country  Bulgaria              NaN  2021  Females
85    Foreign country  Bulgaria              NaN  2022  Females
86    Foreign country  Bulgaria              NaN  2023  Females
87    Foreign country  Bulgaria              NaN  2024  Females
2729  Foreign country  Bulgaria              NaN  2005    Males
2730  Foreign country  Bulgaria              NaN  2006    Males
2731  Foreign country  Bulgaria              NaN  2007    Males
2732  Foreign country  Bulgaria              NaN  2008    Males
2733  Foreign country  Bulgaria              NaN  2009    Males
2734  Foreign country  Bulgaria              NaN  2010    Males
2735  Foreign country  Bulgaria              NaN  2011    Males
2736  Foreign country  Bulgaria              NaN  2012    Males
2737  Foreign country  Bulgaria              NaN  2013    Males
2738  Foreign country  Bulgaria              NaN  2014    Males
2739  Foreign country  Bulgaria              NaN  2015    Males
2740  Foreign country  Bulgaria              NaN  2016    Males
2741  Foreign country  Bulgaria              NaN  2017    Males
2742  Foreign country  Bulgaria              NaN  2018    Males
2743  Foreign country  Bulgaria              NaN  2019    Males
2744  Foreign country  Bulgaria              NaN  2020    Males
2745  Foreign country  Bulgaria              NaN  2021    Males
2746  Foreign country  Bulgaria              NaN  2022    Males
2747  Foreign country  Bulgaria              NaN  2023    Males
2748  Foreign country  Bulgaria              NaN  2024    Males
5390  Foreign country  Bulgaria              NaN  2005    Total
5391  Foreign country  Bulgaria              NaN  2006    Total
5392  Foreign country  Bulgaria              NaN  2007    Total
5393  Foreign country  Bulgaria              NaN  2008    Total
5394  Foreign country  Bulgaria              NaN  2009    Total
5395  Foreign country  Bulgaria              NaN  2010    Total
5396  Foreign country  Bulgaria              NaN  2011    Total
5397  Foreign country  Bulgaria              NaN  2012    Total
5398  Foreign country  Bulgaria              NaN  2013    Total
5399  Foreign country  Bulgaria              NaN  2014    Total
5400  Foreign country  Bulgaria              NaN  2015    Total
5401  Foreign country  Bulgaria              NaN  2016    Total
5402  Foreign country  Bulgaria              NaN  2017    Total
5403  Foreign country  Bulgaria              NaN  2018    Total
5404  Foreign country  Bulgaria              NaN  2019    Total
5405  Foreign country  Bulgaria              NaN  2020    Total
5406  Foreign country  Bulgaria              NaN  2021    Total
5407  Foreign country  Bulgaria              NaN  2022    Total
5408  Foreign country  Bulgaria              NaN  2023    Total
5409  Foreign country  Bulgaria              NaN  2024    Total

In [13]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Romania')]

          citizenship      geo  employment_rate  year      Sex
724   Foreign country  Romania              NaN  2005  Females
725   Foreign country  Romania              NaN  2006  Females
726   Foreign country  Romania              NaN  2007  Females
727   Foreign country  Romania              NaN  2008  Females
728   Foreign country  Romania              NaN  2009  Females
729   Foreign country  Romania              NaN  2010  Females
730   Foreign country  Romania              NaN  2011  Females
731   Foreign country  Romania              NaN  2012  Females
732   Foreign country  Romania              NaN  2013  Females
733   Foreign country  Romania              NaN  2014  Females
734   Foreign country  Romania              NaN  2015  Females
735   Foreign country  Romania              NaN  2016  Females
736   Foreign country  Romania              NaN  2017  Females
737   Foreign country  Romania              NaN  2018  Females
738   Foreign country  Romania              NaN  2019  Females
739   Foreign country  Romania              NaN  2020  Females
740   Foreign country  Romania              NaN  2021  Females
741   Foreign country  Romania              NaN  2022  Females
742   Foreign country  Romania              NaN  2023  Females
743   Foreign country  Romania              NaN  2024  Females
3385  Foreign country  Romania              NaN  2005    Males
3386  Foreign country  Romania              NaN  2006    Males
3387  Foreign country  Romania              NaN  2007    Males
3388  Foreign country  Romania              NaN  2008    Males
3389  Foreign country  Romania              NaN  2009    Males
3390  Foreign country  Romania              NaN  2010    Males
3391  Foreign country  Romania              NaN  2011    Males
3392  Foreign country  Romania              NaN  2012    Males
3393  Foreign country  Romania              NaN  2013    Males
3394  Foreign country  Romania              NaN  2014    Males
3395  Foreign country  Romania              NaN  2015    Males
3396  Foreign country  Romania              NaN  2016    Males
3397  Foreign country  Romania              NaN  2017    Males
3398  Foreign country  Romania              NaN  2018    Males
3399  Foreign country  Romania              NaN  2019    Males
3400  Foreign country  Romania              NaN  2020    Males
3401  Foreign country  Romania              NaN  2021    Males
3402  Foreign country  Romania              NaN  2022    Males
3403  Foreign country  Romania              NaN  2023    Males
3404  Foreign country  Romania              NaN  2024    Males
6046  Foreign country  Romania              NaN  2005    Total
6047  Foreign country  Romania              NaN  2006    Total
6048  Foreign country  Romania              NaN  2007    Total
6049  Foreign country  Romania              NaN  2008    Total
6050  Foreign country  Romania              NaN  2009    Total
6051  Foreign country  Romania              NaN  2010    Total
6052  Foreign country  Romania              NaN  2011    Total
6053  Foreign country  Romania              NaN  2012    Total
6054  Foreign country  Romania              NaN  2013    Total
6055  Foreign country  Romania              NaN  2014    Total
6056  Foreign country  Romania              NaN  2015    Total
6057  Foreign country  Romania              NaN  2016    Total
6058  Foreign country  Romania              NaN  2017    Total
6059  Foreign country  Romania              NaN  2018    Total
6060  Foreign country  Romania              NaN  2019    Total
6061  Foreign country  Romania              NaN  2020    Total
6062  Foreign country  Romania              NaN  2021    Total
6063  Foreign country  Romania              NaN  2022    Total
6064  Foreign country  Romania              NaN  2023    Total
6065  Foreign country  Romania              NaN  2024    Total

In [14]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Poland')]

          citizenship     geo  employment_rate  year      Sex
677   Foreign country  Poland              NaN  2005  Females
678   Foreign country  Poland              NaN  2006  Females
679   Foreign country  Poland              NaN  2007  Females
680   Foreign country  Poland              NaN  2008  Females
681   Foreign country  Poland              NaN  2009  Females
682   Foreign country  Poland              NaN  2010  Females
683   Foreign country  Poland              NaN  2011  Females
684   Foreign country  Poland              NaN  2012  Females
685   Foreign country  Poland              NaN  2013  Females
686   Foreign country  Poland              NaN  2014  Females
687   Foreign country  Poland              NaN  2015  Females
688   Foreign country  Poland              NaN  2016  Females
689   Foreign country  Poland              NaN  2017  Females
690   Foreign country  Poland              NaN  2018  Females
691   Foreign country  Poland              NaN  2019  Females
692   Foreign country  Poland              NaN  2020  Females
693   Foreign country  Poland              NaN  2021  Females
694   Foreign country  Poland              NaN  2022  Females
695   Foreign country  Poland              NaN  2023  Females
696   Foreign country  Poland              NaN  2024  Females
3338  Foreign country  Poland              NaN  2005    Males
3339  Foreign country  Poland              NaN  2006    Males
3340  Foreign country  Poland              NaN  2007    Males
3341  Foreign country  Poland              NaN  2008    Males
3342  Foreign country  Poland              NaN  2009    Males
3343  Foreign country  Poland              NaN  2010    Males
3344  Foreign country  Poland              NaN  2011    Males
3345  Foreign country  Poland              NaN  2012    Males
3346  Foreign country  Poland              NaN  2013    Males
3347  Foreign country  Poland              NaN  2014    Males
3348  Foreign country  Poland              NaN  2015    Males
3349  Foreign country  Poland              NaN  2016    Males
3350  Foreign country  Poland              NaN  2017    Males
3351  Foreign country  Poland              NaN  2018    Males
3352  Foreign country  Poland              NaN  2019    Males
3353  Foreign country  Poland              NaN  2020    Males
3354  Foreign country  Poland              NaN  2021    Males
3355  Foreign country  Poland              NaN  2022    Males
3356  Foreign country  Poland              NaN  2023    Males
3357  Foreign country  Poland              NaN  2024    Males
5999  Foreign country  Poland              NaN  2005    Total
6000  Foreign country  Poland              NaN  2006    Total
6001  Foreign country  Poland              NaN  2007    Total
6002  Foreign country  Poland              NaN  2008    Total
6003  Foreign country  Poland              NaN  2009    Total
6004  Foreign country  Poland              NaN  2010    Total
6005  Foreign country  Poland              NaN  2011    Total
6006  Foreign country  Poland              NaN  2012    Total
6007  Foreign country  Poland             14.8  2013    Total
6008  Foreign country  Poland              NaN  2014    Total
6009  Foreign country  Poland              NaN  2015    Total
6010  Foreign country  Poland             10.9  2016    Total
6011  Foreign country  Poland              8.3  2017    Total
6012  Foreign country  Poland              5.5  2018    Total
6013  Foreign country  Poland              6.0  2019    Total
6014  Foreign country  Poland              NaN  2020    Total
6015  Foreign country  Poland              NaN  2021    Total
6016  Foreign country  Poland              NaN  2022    Total
6017  Foreign country  Poland              4.3  2023    Total
6018  Foreign country  Poland              3.5  2024    Total

In [15]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Hungary')]

          citizenship      geo  employment_rate  year      Sex
401   Foreign country  Hungary              NaN  2005  Females
402   Foreign country  Hungary              NaN  2006  Females
403   Foreign country  Hungary              NaN  2007  Females
404   Foreign country  Hungary              NaN  2008  Females
405   Foreign country  Hungary              NaN  2009  Females
406   Foreign country  Hungary              NaN  2010  Females
407   Foreign country  Hungary              NaN  2011  Females
408   Foreign country  Hungary              NaN  2012  Females
409   Foreign country  Hungary              NaN  2013  Females
410   Foreign country  Hungary              NaN  2014  Females
411   Foreign country  Hungary              NaN  2015  Females
412   Foreign country  Hungary              NaN  2016  Females
413   Foreign country  Hungary              NaN  2017  Females
414   Foreign country  Hungary              NaN  2018  Females
415   Foreign country  Hungary              NaN  2019  Females
416   Foreign country  Hungary              NaN  2020  Females
417   Foreign country  Hungary              NaN  2021  Females
418   Foreign country  Hungary              NaN  2022  Females
419   Foreign country  Hungary              NaN  2023  Females
420   Foreign country  Hungary              NaN  2024  Females
3062  Foreign country  Hungary              NaN  2005    Males
3063  Foreign country  Hungary              NaN  2006    Males
3064  Foreign country  Hungary              NaN  2007    Males
3065  Foreign country  Hungary              NaN  2008    Males
3066  Foreign country  Hungary              NaN  2009    Males
3067  Foreign country  Hungary              NaN  2010    Males
3068  Foreign country  Hungary              NaN  2011    Males
3069  Foreign country  Hungary              NaN  2012    Males
3070  Foreign country  Hungary              NaN  2013    Males
3071  Foreign country  Hungary              NaN  2014    Males
3072  Foreign country  Hungary              NaN  2015    Males
3073  Foreign country  Hungary              NaN  2016    Males
3074  Foreign country  Hungary              NaN  2017    Males
3075  Foreign country  Hungary              NaN  2018    Males
3076  Foreign country  Hungary              NaN  2019    Males
3077  Foreign country  Hungary              NaN  2020    Males
3078  Foreign country  Hungary              NaN  2021    Males
3079  Foreign country  Hungary              NaN  2022    Males
3080  Foreign country  Hungary              NaN  2023    Males
3081  Foreign country  Hungary              NaN  2024    Males
5723  Foreign country  Hungary              NaN  2005    Total
5724  Foreign country  Hungary              8.5  2006    Total
5725  Foreign country  Hungary              NaN  2007    Total
5726  Foreign country  Hungary              NaN  2008    Total
5727  Foreign country  Hungary             11.1  2009    Total
5728  Foreign country  Hungary              9.1  2010    Total
5729  Foreign country  Hungary              9.8  2011    Total
5730  Foreign country  Hungary             11.1  2012    Total
5731  Foreign country  Hungary             10.9  2013    Total
5732  Foreign country  Hungary              NaN  2014    Total
5733  Foreign country  Hungary              NaN  2015    Total
5734  Foreign country  Hungary              NaN  2016    Total
5735  Foreign country  Hungary              NaN  2017    Total
5736  Foreign country  Hungary              NaN  2018    Total
5737  Foreign country  Hungary              NaN  2019    Total
5738  Foreign country  Hungary              8.5  2020    Total
5739  Foreign country  Hungary              NaN  2021    Total
5740  Foreign country  Hungary              NaN  2022    Total
5741  Foreign country  Hungary              NaN  2023    Total
5742  Foreign country  Hungary              NaN  2024    Total

Tych których brakowało w danych kwartalnych - brakuje również w danych rocznych

In [16]:
an_df.dropna(inplace=True)

In [18]:
an_df.to_csv("../../processed_data/unemploymnet_rates_yearly.csv", index=False)