In [37]:
import pandas as pd

df = pd.read_csv('../../data/immigration_by_citizenship.csv')

In [38]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,citizen,Country of citizenship,agedef,Age definition,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:MIGR_IMM1CTZ(1.0),"Immigration by age group, sex and citizenship",A,Annual,AD,Andorra,REACH,Age reached during the year,TOTAL,...,AT,Austria,1998,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:MIGR_IMM1CTZ(1.0),"Immigration by age group, sex and citizenship",A,Annual,AD,Andorra,REACH,Age reached during the year,TOTAL,...,AT,Austria,1999,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:MIGR_IMM1CTZ(1.0),"Immigration by age group, sex and citizenship",A,Annual,AD,Andorra,REACH,Age reached during the year,TOTAL,...,AT,Austria,2001,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:MIGR_IMM1CTZ(1.0),"Immigration by age group, sex and citizenship",A,Annual,AD,Andorra,REACH,Age reached during the year,TOTAL,...,AT,Austria,2002,NaN,0.0,NaN,b,break in time series,NaN,NaN
4,dataflow,ESTAT:MIGR_IMM1CTZ(1.0),"Immigration by age group, sex and citizenship",A,Annual,AD,Andorra,REACH,Age reached during the year,TOTAL,...,AT,Austria,2003,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133834 entries, 0 to 133833
Data columns (total 25 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   STRUCTURE                               133834 non-null  object
 1   STRUCTURE_ID                            133834 non-null  object
 2   STRUCTURE_NAME                          133834 non-null  object
 3   freq                                    133834 non-null  object
 4   Time frequency                          133834 non-null  object
 5   citizen                                 133317 non-null  object
 6   Country of citizenship                  133834 non-null  object
 7   agedef                                  133834 non-null  object
 8   Age definition                          133834 non-null  object
 9   age                                     133834 non-null  object
 10  Age class                               133834 non-null  object
 11  unit                                    133834 non-null  object
 12  Unit of measure                         133834 non-null  object
 13  sex                                     133834 non-null  object
 14  Sex                                     133834 non-null  object
 15  geo                                     133834 non-null  object
 16  Geopolitical entity (reporting)         133834 non-null  object
 17  TIME_PERIOD                             133834 non-null  int64
 18  Time                                    0 non-null       float64
 19  OBS_VALUE                               133828 non-null  float64
 20  Observation value                       0 non-null       float64
 21  OBS_FLAG                                11635 non-null   object
 22  Observation status (Flag) V2 structure  11635 non-null   object
 23  CONF_STATUS                             0 non-null       float64
 24  Confidentiality status (flag)           0 non-null       float64
dtypes: float64(5), int64(1), object(19)
memory usage: 25.5+ MB

In [40]:
df.duplicated().sum()

np.int64(0)

In [41]:
df.isnull().sum()

STRUCTURE                                      0
STRUCTURE_ID                                   0
STRUCTURE_NAME                                 0
freq                                           0
Time frequency                                 0
citizen                                      517
Country of citizenship                         0
agedef                                         0
Age definition                                 0
age                                            0
Age class                                      0
unit                                           0
Unit of measure                                0
sex                                            0
Sex                                            0
geo                                            0
Geopolitical entity (reporting)                0
TIME_PERIOD                                    0
Time                                      133834
OBS_VALUE                                      6
Observation value                         133834
OBS_FLAG                                  122199
Observation status (Flag) V2 structure    122199
CONF_STATUS                               133834
Confidentiality status (flag)             133834
dtype: int64

In [42]:
df = df.drop(columns=["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "Time", "Observation value", "OBS_FLAG", "Observation status (Flag) V2 structure", "CONF_STATUS", "Confidentiality status (flag)"])

In [43]:
df.dropna(inplace=True)

In [44]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['A']
Uniques values in Time frequency: ['Annual']
Uniques values in citizen: ['AD' 'AE' 'AF' 'AFR' 'AFR_C' 'AFR_E' 'AFR_N' 'AFR_OTH' 'AFR_S' 'AFR_W'
 'AG' 'AI' 'AL' 'AM' 'AME' 'AME_C' 'AME_N' 'AME_OTH' 'AME_S' 'AN' 'AO'
 'AR' 'ASI' 'ASI_C' 'ASI_E' 'ASI_OTH' 'ASI_S' 'ASI_S_E' 'ASI_W' 'AT' 'AU'
 'AU_NZ' 'AW' 'AZ' 'BA' 'BB' 'BD' 'BE' 'BF' 'BG' 'BH' 'BI' 'BJ' 'BL' 'BM'
 'BN' 'BO' 'BQ' 'BR' 'BS' 'BT' 'BW' 'BY' 'BZ' 'CA' 'CC3_07' 'CC4_10'
 'CC8_22_FOR' 'CC9_23_FOR' 'CD' 'CF' 'CG' 'CH' 'CI' 'CL' 'CM' 'CN' 'CO'
 'CR' 'CRB' 'CU' 'CV' 'CW' 'CY' 'CZ' 'CZ_SK' 'DE' 'DJ' 'DK' 'DM' 'DO' 'DZ'
 'EC' 'EE' 'EFTA' 'EFTA_FOR' 'EG' 'EH' 'EL' 'ER' 'ES' 'ET' 'EU15'
 'EU15_FOR' 'EU25' 'EU25_FOR' 'EU27_2007' 'EU27_2007_FOR' 'EU27_2020_FOR'
 'EU28_FOR' 'EUR' 'EUR_OTH' 'EXT' 'EX_SU' 'EX_YU' 'FI' 'FJ' 'FK' 'FM' 'FO'
 'FOR_STLS' 'FR' 'GA' 'GD' 'GE' 'GG' 'GH' 'GI' 'GL' 'GM' 'GN' 'GQ' 'GT'
 'GW' 'GY' 'HDC_EXT' 'HN' 'HR' 'HT' 'HU' 'ID' 'IE' 'IL' 'IM' 'IN' 'IQ'
 'IR' 'IS' 'IT' 'JE' 'JM' 'JO' 'JP' 'KE' 'KG' 'KH' 'KI' 'KM' 'KN' 'KP'
 'KR' 'KW' 'KY' 'KZ' 'LA' 'LB' 'LC' 'LDC_EXT' 'LI' 'LK' 'LR' 'LS' 'LT'
 'LU' 'LV' 'LY' 'MA' 'MC' 'MD' 'MDC_EXT' 'ME' 'MEL' 'MF' 'MG' 'MH' 'MIC'
 'MK' 'ML' 'MM' 'MN' 'MR' 'MS' 'MT' 'MU' 'MV' 'MW' 'MX' 'MY' 'MZ' 'NAT'
 'NC' 'NE' 'NEU27_2007_FOR_STLS' 'NEU27_2020_FOR' 'NEU28_FOR' 'NG' 'NI'
 'NL' 'NO' 'NP' 'NR' 'NZ' 'OCE' 'OCE_OTH' 'OM' 'OTH' 'PA' 'PE' 'PF' 'PG'
 'PH' 'PK' 'PL' 'PM' 'PN' 'POL' 'PS' 'PT' 'PW' 'PY' 'QA' 'RNC' 'RO' 'RS'
 'RS_ME' 'RU' 'RW' 'SA' 'SB' 'SC' 'SD' 'SE' 'SG' 'SH' 'SI' 'SK' 'SL' 'SM'
 'SN' 'SO' 'SR' 'SS' 'ST' 'STLS' 'SV' 'SX' 'SY' 'SZ' 'TC' 'TD' 'TF' 'TG'
 'TH' 'TJ' 'TL' 'TM' 'TN' 'TO' 'TOTAL' 'TR' 'TT' 'TV' 'TW' 'TZ' 'UA' 'UG'
 'UK' 'UNK' 'US' 'UY' 'UZ' 'VA' 'VC' 'VE' 'VG' 'VN' 'VU' 'WF' 'WS' 'XK'
 'YE' 'YT' 'ZA' 'ZM' 'ZW']
Uniques values in Country of citizenship: ['Andorra' 'United Arab Emirates' 'Afghanistan' 'Africa' 'Central Africa'
 'Eastern Africa' 'Northern Africa'
 'Other African countries (aggregate changing according to the context)'
 'Southern Africa' 'Western Africa' 'Antigua and Barbuda' 'Anguilla'
 'Albania' 'Armenia' 'America' 'Central America' 'Northern America'
 'Other American countries (aggregate changing according to the context)'
 'South America' 'Netherlands Antilles' 'Angola' 'Argentina' 'Asia'
 'Central Asia' 'Eastern Asia'
 'Other Asian countries (aggregate changing according to the context)'
 'Southern Asia' 'South-Eastern Asia' 'Western Asia' 'Austria' 'Australia'
 'Australia and New Zealand' 'Aruba' 'Azerbaijan' 'Bosnia and Herzegovina'
 'Barbados' 'Bangladesh' 'Belgium' 'Burkina Faso' 'Bulgaria' 'Bahrain'
 'Burundi' 'Benin' 'Saint BarthÃ©lemy' 'Bermuda' 'Brunei Darussalam'
 'Bolivia' 'Bonaire, Saint Eustatius and Saba' 'Brazil' 'Bahamas' 'Bhutan'
 'Botswana' 'Belarus' 'Belize' 'Canada'
 'Candidate countries in 2007 (3 countries)'
 'Candidate countries in 2010 (4 countries)'
 'Candidate countries from 2022 (8 countries) except reporting country'
 'Candidate countries from 2023 (9 countries) except reporting country'
 'Democratic Republic of the Congo' 'Central African Republic' 'Congo'
 'Switzerland' 'CÃ´te dâ€™Ivoire' 'Chile' 'Cameroon' 'China' 'Colombia'
 'Costa Rica' 'Caribbean' 'Cuba' 'Cabo Verde' 'CuraÃ§ao' 'Cyprus' 'Czechia'
 'Czechoslovakia' 'Germany' 'Djibouti' 'Denmark' 'Dominica'
 'Dominican Republic' 'Algeria' 'Ecuador' 'Estonia'
 'European Free Trade Association'
 'European Free Trade Association except reporting country' 'Egypt'
 'Western Sahara' 'Greece' 'Eritrea' 'Spain' 'Ethiopia'
 'European Union - 15 countries (1995-2004)'
 'EU15 countries (1995-2004) except reporting country'
 'European Union - 25 countries (2004-2006)'
 'EU25 countries (2004-2006) except reporting country'
 'European Union - 27 countries (2007-2013)'
 'EU27 countries (2007-2013) except reporting country'
 'EU27 countries (from 2020) except reporting country'
 'EU28 countries (2013-2020) except reporting country' 'Europe'
 'Other European countries (aggregate changing according to the context)'
 'Countries other than EU, EFTA and Candidate countries' 'Soviet Union'
 'Yugoslavia' 'Finland' 'Fiji' 'Falkland Islands'
 'Federated States of Micronesia' 'Faroes' 'Foreign country and stateless'
 'France' 'Gabon' 'Grenada' 'Georgia' 'Guernsey' 'Ghana' 'Gibraltar'
 'Greenland' 'Gambia, The' 'Guinea' 'Equatorial Guinea' 'Guatemala'
 'Guinea-Bissau' 'Guyana'
 'Highly developed countries (other than EU, EFTA and Candidate countries)'
 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia' 'Ireland' 'Israel'
 'Isle of Man' 'India' 'Iraq' 'Iran' 'Iceland' 'Italy' 'Jersey' 'Jamaica'
 'Jordan' 'Japan' 'Kenya' 'Kyrgyzstan' 'Cambodia' 'Kiribati' 'Comoros'
 'Saint Kitts and Nevis' 'North Korea' 'South Korea' 'Kuwait'
 'Cayman Islands' 'Kazakhstan' 'Laos' 'Lebanon' 'Saint Lucia'
 'Less developed countries (other than EU, EFTA and Candidate countries)'
 'Liechtenstein' 'Sri Lanka' 'Liberia' 'Lesotho' 'Lithuania' 'Luxembourg'
 'Latvia' 'Libya' 'Morocco' 'Monaco' 'Moldova'
 'Medium developed countries (other than EU, EFTA and Candidate countries)'
 'Montenegro' 'Melanesia' 'Saint Martin' 'Madagascar' 'Marshall Islands'
 'Micronesia' 'North Macedonia' 'Mali' 'Myanmar/Burma' 'Mongolia'
 'Mauritania' 'Montserrat' 'Malta' 'Mauritius' 'Maldives' 'Malawi'
 'Mexico' 'Malaysia' 'Mozambique' 'Reporting country' 'New Caledonia'
 'Niger'
 'Non-EU27 countries (2007-2013) nor reporting country and stateless'
 'Non-EU27 countries (from 2020) nor reporting country'
 'Non-EU28 countries (2013-2020) nor reporting country' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'Oceania'
 'Other Oceanian countries (aggregate changing according to the context)'
 'Oman' 'Others' 'Panama' 'Peru' 'French Polynesia' 'Papua New Guinea'
 'Philippines' 'Pakistan' 'Poland' 'Saint Pierre and Miquelon'
 'Pitcairn Islands' 'Polynesia' 'Palestine*' 'Portugal' 'Palau' 'Paraguay'
 'Qatar' 'Recognised non-citizens' 'Romania' 'Serbia'
 'Serbia and Montenegro' 'Russia' 'Rwanda' 'Saudi Arabia'
 'Solomon Islands' 'Seychelles' 'Sudan' 'Sweden' 'Singapore'
 'Saint Helena, Ascension and Tristan da Cunha' 'Slovenia' 'Slovakia'
 'Sierra Leone' 'San Marino' 'Senegal' 'Somalia' 'Suriname' 'South Sudan'
 'SÃ£o TomÃ© and PrÃ­ncipe' 'Stateless' 'El Salvador' 'Sint Maarten' 'Syria'
 'Eswatini' 'Turks and Caicos Islands' 'Chad'
 'French Southern and Antarctic Lands' 'Togo' 'Thailand' 'Tajikistan'
 'Timor-Leste' 'Turkmenistan' 'Tunisia' 'Tonga' 'Total' 'TÃ¼rkiye'
 'Trinidad and Tobago' 'Tuvalu' 'Taiwan' 'Tanzania' 'Ukraine' 'Uganda'
 'United Kingdom' 'Unknown' 'United States' 'Uruguay' 'Uzbekistan'
 'Holy See' 'Saint Vincent and the Grenadines' 'Venezuela'
 'British Virgin Islands' 'Viet Nam' 'Vanuatu' 'Wallis and Futuna' 'Samoa'
 'Kosovo*' 'Yemen' 'Mayotte (FR - part of EU as of 01.01.2014)'
 'South Africa' 'Zambia' 'Zimbabwe']
Uniques values in agedef: ['REACH']
Uniques values in Age definition: ['Age reached during the year']
Uniques values in age: ['TOTAL']
Uniques values in Age class: ['Total']
Uniques values in unit: ['NR']
Uniques values in Unit of measure: ['Number']
Uniques values in sex: ['T']
Uniques values in Sex: ['Total']
Uniques values in geo: ['AT' 'BA' 'BE' 'BG' 'BY' 'CH' 'CZ' 'DE' 'DK' 'EE' 'ES' 'FI' 'HR' 'HU'
 'IE' 'IS' 'IT' 'KG' 'LI' 'LT' 'LU' 'LV' 'MD' 'ME' 'MK' 'NL' 'NO' 'PL'
 'RO' 'RU' 'SE' 'SI' 'SK' 'UK' 'US' 'FR' 'CY' 'EL' 'MT' 'PT' 'EU27_2020'
 'AD' 'AM' 'AZ' 'SM' 'TJ' 'UZ']
Uniques values in Geopolitical entity (reporting): ['Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria' 'Belarus'
 'Switzerland' 'Czechia' 'Germany' 'Denmark' 'Estonia' 'Spain' 'Finland'
 'Croatia' 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Kyrgyzstan'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Latvia' 'Moldova' 'Montenegro'
 'North Macedonia' 'Netherlands' 'Norway' 'Poland' 'Romania' 'Russia'
 'Sweden' 'Slovenia' 'Slovakia' 'United Kingdom' 'United States' 'France'
 'Cyprus' 'Greece' 'Malta' 'Portugal'
 'European Union - 27 countries (from 2020)' 'Andorra' 'Armenia'
 'Azerbaijan' 'San Marino' 'Tajikistan' 'Uzbekistan']
Uniques values in TIME_PERIOD: [1998 1999 2001 2002 2003 2004 2005 2006 2007 2008 2011 2012 2014 2015
 2016 2017 2018 2019 2020 2021 2022 2023 2010 2013 2000 2009]
Uniques values in OBS_VALUE: [1.000e+00 0.000e+00 2.000e+00 ... 8.418e+03 4.400e+03 8.286e+03]

In [45]:
df = df.drop(columns=["sex", "Sex", "age", "Age definition", "Age class", "unit", "agedef", "freq", "Time frequency"])

In [46]:
df.head()

,citizen,Country of citizenship,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,OBS_VALUE
0,AD,Andorra,Number,AT,Austria,1998,1.0
1,AD,Andorra,Number,AT,Austria,1999,1.0
2,AD,Andorra,Number,AT,Austria,2001,0.0
3,AD,Andorra,Number,AT,Austria,2002,0.0
4,AD,Andorra,Number,AT,Austria,2003,0.0

In [47]:
df = df.drop(columns=["geo", "citizen"])

In [48]:
df.rename(columns={"Geopolitical entity (reporting)":"geo", "OBS_VALUE":"Migrants number", "TIME_PERIOD": "year"}, inplace=True)

In [49]:
df = df.drop(columns=["Unit of measure"])

In [50]:
df.head()

  Country of citizenship      geo  year  Migrants number
0                Andorra  Austria  1998              1.0
1                Andorra  Austria  1999              1.0
2                Andorra  Austria  2001              0.0
3                Andorra  Austria  2002              0.0
4                Andorra  Austria  2003              0.0

In [51]:
df.to_csv("../../processed_data/immigration_by_citizenship.csv", index=False)